[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist/spa"

# Copy data directory for bookings persistence
[[files]]
  from = "data"
  to = "data"


[functions]
  external_node_modules = ["express"]
  node_bundler = "esbuild"
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"
